<ul>
	<li ng-repeat="l in $ctrl.lista">{{l.id}}{{l.nombre}}</li>
</ul>

        <contenedor>
            <encabezado titulo="MiaplicacionXYZ"></encabezado>
            <menu>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home 1</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home 2</a>                
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home 3</a>
            </menu>
            <contenido>
                <h1>TEST 1</h1>
                <h2>TEST 2</h2>
                <h3>TEST 3</h3>
                <h4>TEST 4</h4>
            </contenido>
        </contenedor>            
